{% include 'header.twig' %}

<form method='post'>
	<img src='{{src}}' id='capthca'>
	<a href='/captcha'>reload</a>
	<input type='text'/>
	<button type='submit'>send</button>
</form>

{% include 'footer.twig' %}