<?php

{% include 'header.twig' %}

<div class='message'>{{message}}</div>
{% if url != '' or url is not null %}
	<br>
	<div class='url'><a href='{{url}}'>Посмотреть</a></div>
{% endif %}
<form enctype="multipart/form-data" method="POST">
    Файл: <input name="userfile" type="file" />
    <input type="submit" value="Send File" />
</form>

{% include 'footer.twig' %}